<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Tree Manager</title>

	<base href="{$basePath}">

	<!-- Bootstrap -->
	<link href="{$basePath}/css/bootstrap.min.css" rel="stylesheet">
	<link href="{$basePath}/css/style.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				{include content}
			</div>
		</div>
	</div>

	{block scripts}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="{$basePath}/js/bootstrap.min.js"></script>
	<script src="{$basePath}/js/custom.js"></script>
	{/block}
</body>
</html>