{block content}
<h1>Tree Manager</h1>

<div class="row">
	<div class="col-md-8" id="messages-container">
	</div>
	<div class="col-md-4">
		<div class="input-group">
			<input type="text" class="form-control" id="input-parent-id" placeholder="Parent ID">
			<span class="input-group-btn">
				<button class="btn btn-primary" id="button-add-node" type="button">Add</button>
			</span>
		</div>
	</div>
</div>

<div id="tree-container">
	<div class="tree-header">
		<div class="tree-depth">Depth</div>
		<div>Tree Nodes</div>
	</div>
	{if $nodes}
	<div class="tree-row" id="tree-row-0">
		<div class="tree-depth">0</div>
{var depth = 0}
{foreach $nodes AS $node}
{if $depth != $node->depth}
	</div>
	<div class="tree-row" id="tree-row-{$node->depth}">
		<div class="tree-depth">{$node->depth}</div>
{/if}
		<div class="tree-node" id="node{$node->id}" data-rgt="{$node->rgt}">
			<button type="button" class="node-button-delete close" data-id="{$node->id}" aria-label="Delete"><span aria-hidden="true">&times;</span></button>
			{if $node->parent_id}<span class="tree-node-parent badge">{$node->parent_id}</span><br>{/if}
			<span class="tree-node-info">{$node->lft} <span class="tree-node-id label label-primary">{$node->id}</span> {$node->rgt}</span>
		</div>
	{var depth = $node->depth}
{/foreach}
	</div>{/if}
</div>
