
#tree-container {
	margin-top: 30px;
}

#tree-container .tree-header div {
	text-align: center;
	font-weight: bold;
	font-size: 115%;
	margin-bottom: 5px;
}

#tree-container .tree-header,
#tree-container .tree-row {
	margin-bottom: 5px;
	display: -webkit-box;
	display: -moz-box;
	display: box;
	-moz-box-orient: horizontal;
	box-orient: horizontal;
	-webkit-box-orient: horizontal;
}

#tree-container .tree-header div:first-of-type,
#tree-container .tree-depth {
	width: 70px;
	text-align: center;
	/*-webkit-box-flex: 1;*/
	/*-moz-box-flex: 1;*/
	/*box-flex: 1;*/
}

#tree-container .tree-row .tree-depth {
	padding-top: 13px;
}

#tree-container .tree-header div:nth-of-type(2) {
	width: auto;
	text-align: center;
	margin-right: 5px;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
}

#tree-container .tree-node {
	width: auto;
	border: solid 1px rgba(0,0,0,.3);
	padding: 5px 10px;
	margin-right: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
}

#tree-container .tree-node-id {
	display: inline-block;
	padding: .4em .6em;
	margin-top: 3px;
	font-size: 120%;
}

#tree-container .tree-node-info {

}

#tree-container .tree-node-parent {
}
